# Dependencies
## Avoid any node_modules folders anywhere in the repo
node_modules
## Avoid package*.json files only at repo root
/package.json
/package-lock.json

# Plugins
/plugins/advanced-custom-fields/
/plugins/gutenberg/
/plugins/manual-image-crop/
/plugins/regenerate-thumbnails/
/plugins/node_modules/

# Themes
/themes/twentytwentytwo/
/themes/twentytwentythree/
/themes/twentytwentyfour/
/themes/fictional-university-theme/
/themes/juli2024-wp-tailwind/

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local PHPCS configuration files
.phpcs.xml
phpcs.xml

# Composer (repo root only)
/vendor/
