<!-- wp:template-part {"slug":"header","theme":"manonemusic","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Outer Container"},"className":"is-style-horizontal-scroll","layout":{"type":"constrained"}} -->
<main
	id="panels-outer-container"
	class="wp-block-group is-style-horizontal-scroll"
>
	<!-- wp:group {"metadata":{"name":"Inner Container"},"className":"is-style-group-full","layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div id="panels-inner-container" class="wp-block-group is-style-group-full">
		<!-- wp:group {"tagName":"section","metadata":{"name":"Home"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="home" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:group {"metadata":{"name":"Home header"},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:heading {"level":1,"className":"is-style-logo-huge home-heading"} -->
					<h1 class="wp-block-heading is-style-logo-huge home-heading">
						man/one music
					</h1>
					<!-- /wp:heading -->

					<!-- wp:columns -->
					<div class="wp-block-columns">
						<!-- wp:column {"verticalAlignment":"stretch","className":"is-style-column-full"} -->
						<div
							class="wp-block-column is-vertically-aligned-stretch is-style-column-full"
						>
							<!-- wp:heading {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"className":"text-titleLarge"} -->
							<h2 class="wp-block-heading text-titleLarge">
								music &amp; sound design
							</h2>
							<!-- /wp:heading -->
						</div>
						<!-- /wp:column -->

						<!-- wp:column {"className":"is-style-column-full"} -->
						<div class="wp-block-column is-style-column-full">
							<!-- wp:heading {"className":"text-titleLarge"} -->
							<h2 class="wp-block-heading text-titleLarge">©2017–24</h2>
							<!-- /wp:heading -->
						</div>
						<!-- /wp:column -->

						<!-- wp:column {"className":"is-style-column-full"} -->
						<div class="wp-block-column is-style-column-full"></div>
						<!-- /wp:column -->
					</div>
					<!-- /wp:columns -->
				</div>
				<!-- /wp:group -->

				<!-- wp:spacer -->
				<div
					style="height: 100px"
					aria-hidden="true"
					class="wp-block-spacer"
				></div>
				<!-- /wp:spacer -->

				<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0vh","bottom":"0px"}}}} -->
				<div
					class="wp-block-columns"
					style="margin-top: 0vh; margin-bottom: 0px"
				>
					<!-- wp:column {"verticalAlignment":"top"} -->
					<div class="wp-block-column is-vertically-aligned-top">
						<!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null}}} -->
						<p>
							Tailored sound design and audio identities that capture the spirit
							of your brand and resonate with your audience.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"verticalAlignment":"bottom","className":"is-style-column-padding-align-bottom"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom is-style-column-padding-align-bottom"
					></div>
					<!-- /wp:column -->

					<!-- wp:column {"verticalAlignment":"top"} -->
					<div class="wp-block-column is-vertically-aligned-top">
						<!-- wp:post-date {"format":"m / Y","className":"text-bodyMedium font-primary text-secondary mt-32"} /-->
						<!-- wp:paragraph {"className":"text-bodyMedium"} -->
						<p class="text-bodyMedium">Location: Amsterdam</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"Films"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="films" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					Films
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"className":"is-style-default"} -->
				<div class="wp-block-columns is-style-default">
					<!-- wp:column {"verticalAlignment":"bottom","className":"is-style-column-padding"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom is-style-column-padding"
					>
						<!-- wp:paragraph {"className":"is-style-indent-left"} -->
						<p class="is-style-indent-left">
							His sound delves deep into a musical past rich in soulful,
							electronic influences with haunting vocal samples, deep, emotional
							synths and unrelenting beats featuring heavily in both IXA
							productions and DJ sets.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"className":"is-style-column-full"} -->
					<div class="wp-block-column is-style-column-full"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->

			<!-- wp:manonemusic/cards-home {"aspectRatio":"aspect-[6/8.5]","section":"film"} /-->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"Commercials"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section
			id="commercials"
			class="wp-block-group is-style-group-section panel"
		>
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					Commercials
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"className":"is-style-default"} -->
				<div class="wp-block-columns is-style-default">
					<!-- wp:column {"verticalAlignment":"bottom","className":"is-style-column-padding"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom is-style-column-padding"
					>
						<!-- wp:paragraph {"className":"is-style-indent-left"} -->
						<p class="is-style-indent-left">
							His sound delves deep into a musical past rich in soulful,
							electronic influences with haunting vocal samples, deep, emotional
							synths and unrelenting beats featuring heavily in both IXA
							productions and DJ sets.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"className":"is-style-column-full"} -->
					<div class="wp-block-column is-style-column-full"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->

			<!-- wp:manonemusic/cards-home {"aspectRatio":"aspect-video","section":"commercial"} /-->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"Projects"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="projects" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					Projects
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"className":"is-style-default"} -->
				<div class="wp-block-columns is-style-default">
					<!-- wp:column {"verticalAlignment":"bottom","className":"is-style-column-padding"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom is-style-column-padding"
					>
						<!-- wp:paragraph {"className":"is-style-indent-left"} -->
						<p class="is-style-indent-left">
							His sound delves deep into a musical past rich in soulful,
							electronic influences with haunting vocal samples, deep, emotional
							synths and unrelenting beats featuring heavily in both IXA
							productions and DJ sets.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"className":"is-style-column-full"} -->
					<div class="wp-block-column is -style-column-full"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->

			<!-- wp:manonemusic/cards-home {"aspectRatio":"aspect-[16/9]","section":"project"} /-->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"Releases"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="releases" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:columns {"className":""} -->
				<div class="wp-block-columns">
					<!-- wp:column {"width":"25%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 25%"></div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"50%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 50%">
						<!-- wp:paragraph {"className":"uppercase text-titleSmall lg:text-titleMedium xl:text-titleLarge"} -->
						<p
							class="uppercase text-titleSmall lg:text-titleMedium xl:text-titleLarge"
						>
							His sound delves deep into rich, soulful, electronic influences
							with haunting vocal samples, unrelenting beats.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"25%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 25%"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->

				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					Releases
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"className":"is-style-default"} -->
				<div class="wp-block-columns is-style-default">
					<!-- wp:column {"verticalAlignment":"bottom","className":"is-style-column-padding"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom is-style-column-padding"
					></div>
					<!-- /wp:column -->

					<!-- wp:column {"className":"is-style-column-full"} -->
					<div class="wp-block-column is-style-column-full"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->

			<!-- wp:manonemusic/cards-home /-->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"About"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="about" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width h-full","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width h-full">
				<!-- wp:columns {"className":""} -->
				<div class="wp-block-columns">
					<!-- wp:column {"width":"25%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 25%"></div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"50%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 50%">
						<!-- wp:paragraph {"className":"uppercase text-titleSmall lg:text-titleMedium xl:text-titleLarge pr-40"} -->
						<p
							class="uppercase text-titleSmall lg:text-titleMedium xl:text-titleLarge pr-40"
						>
							I’m a music producer specialized in custom-made music, audio
							identities, and sound design
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"25%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 25%"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->

				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					about
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"className":"h-fit"} -->
				<div class="wp-block-columns h-fit">
					<!-- wp:column {"width":"33.33%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 33.33%">
						<!-- wp:paragraph {"className":""} -->
						<p class="">
							Matt Rudge is the Founder and Executive Producer at MAN/ONE MUSIC.
							He's a music producer specialized in audio identities, sound
							design, custom-made music production, and audio branding for
							businesses.
						</p>
						<!-- /wp:paragraph -->
						<!-- wp:paragraph {"className":"mt-4"} -->
						<p class="mt-4">
							Over ten years of experience producing brand stories and
							implementing impactful sound design infrastructures for agencies
							to scale their audio output.
						</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"33.33%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 33.33%"></div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"33.33%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 33.33%">
						<!-- wp:image {"id":1206,"linkDestination":"none","className":"absolute top-0 right-0 w-full overflow-clip -z-10 flex justify-end"} -->
						<figure
							class="wp-block-image absolute top-0 right-0 bottom-8 w-full overflow-clip -z-10 flex justify-end"
						>
							<img
								src="http://manone-music.local/wp-content/uploads/2024/07/DALL·E-2024-07-04-14.30.39-A-music-producer-wearing-a-black-outfit-standing-in-front-of-a-grey-concrete-wall.-The-music-producer-has-a-casual-and-relaxed-expression-with-very--585x1024.webp"
								alt=""
							/>
						</figure>
						<!-- /wp:image -->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"section","metadata":{"name":"Contact"},"className":"is-style-group-section panel","layout":{"type":"constrained"}} -->
		<section id="contact" class="wp-block-group is-style-group-section panel">
			<!-- wp:group {"className":"is-style-max-width","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-max-width">
				<!-- wp:columns {"className":""} -->
				<div class="wp-block-columns">
					<!-- wp:column {"width":"33.3%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 33.3%"></div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"33.3%","className":"h-full"} -->
					<div class="wp-block-column h-full" style="flex-basis: 33.3%">
						<!-- wp:paragraph {"className":""} -->
						<p class="">For bookings and inquiries:</p>
						<!-- /wp:paragraph -->
						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"Drop me a message"} /-->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"33.3%","className":""} -->
					<div class="wp-block-column" style="flex-basis: 33.3%"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->

				<!-- wp:heading {"className":"is-style-heading-display home-heading"} -->
				<h2 class="wp-block-heading is-style-heading-display home-heading">
					Contact
				</h2>
				<!-- /wp:heading -->

				<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0vh","bottom":"0px"}}},"className":"is-style-default"} -->
				<div
					class="wp-block-columns is-style-default"
					style="margin-top: 0vh; margin-bottom: 0px"
				>
					<!-- wp:column {"verticalAlignment":"bottom","width":"33.3%"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom"
						style="flex-basis: 33.3%"
					>
						<!-- wp:paragraph {"className":"block mb-4"} -->
						<p class="block mb-4">Listen & Follow:</p>
						<!-- /wp:paragraph -->

						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"linkedin"} /-->
						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"facebook"} /-->
						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"instagram"} /-->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"33.3%","className":"mt-32 md:mt-0"} -->
					<div class="wp-block-column mt-32 md:mt-0" style="flex-basis: 33.3%">
						<!-- wp:spacer {"height":"15vh"} -->
						<div
							style="height: 15vh"
							aria-hidden="true"
							class="wp-block-spacer"
						></div>
						<!-- /wp:spacer -->

						<!-- wp:paragraph {"className":"block mb-4"} -->
						<p class="block mb-4">Show me love:</p>
						<!-- /wp:paragraph -->

						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"Bandcamp","linkTarget":"_blank"} /-->
						<!-- wp:read-more {"className": "text-titleSmall lg:text-titleMedium xl:text-titleLarge","content":"Merch","linkTarget":"_blank"} /-->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"verticalAlignment":"bottom","width":"33.4%","className":"mt-8"} -->
					<div
						class="wp-block-column is-vertically-aligned-bottom mt-8"
						style="flex-basis: 33.4%"
					>
						<!-- wp:post-date {"textAlign":"left","format":"© Y \\M\\A\\N/\\O\\N\\E \\M\\U\\S\\I\\C"} /-->
						<!-- wp:paragraph {"align":"left"} -->
						<p class="has-text-align-left">Website by JuliScapucin</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
