<!-- wp:template-part {"slug":"header","theme":"manonemusic","area":"header"} /-->
<!-- wp:manonemusic/page-transition-exit /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Outer Container"},"className":"is-style-horizontal-scroll","layout":{"type":"constrained"}} -->
<main
	id="panels-outer-container"
	class="wp-block-group is-style-horizontal-scroll"
>
	<!-- wp:group {"metadata":{"name":"Inner Container"},"className":"is-style-group-full","layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div id="panels-inner-container" class="wp-block-group is-style-group-full">
		<!-- wp:pattern {"slug":"manonemusic/home-section-start"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-films"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-commercials"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-projects"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-releases"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-about"} /-->
		<!-- wp:pattern {"slug":"manonemusic/home-section-contact"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
